.dashboard-app {
    .dashboard-wrapper {
        display: flex;
        height: 100%;
        overflow: hidden;

        @media @sdi-small {
            margin: 0px;
            padding: 0px;
            border: 0px;
        }

        > div {
            flex: 1;
            border-top: @borderDark;
            padding-top: @margin;
            height: 100%;
            overflow-y: auto;

            &:nth-child(n + 2) {
                margin-left: @margin * 2;
            }

            &.my-apps {
                flex: 1.4;
            }

            &.login-widget {
                flex: 0.6;
            }
        }
    }

    // EDITO
    .edito {
        padding-top: 0 !important;
    }

    .edito__title {
        .textExtraLarge();
        padding-top: @margin;
        height: @edito-title-height;
    }

    .edito__text {
        margin-top: @margin;
        .textBig();
        font-weight: @fwRegular;
        line-height: 120%;

        p {
            margin-bottom: @margin;
        }
    }

    .app-item {
        padding: @margin 0;
        border-bottom: @borderDark;
        margin-bottom: @margin;

        .app__wrapper {
            .textExtraLarge();
            display: inline-flex;
            align-items: center;
            padding-bottom: @margin;
            cursor: default;

            &:hover {
                color: @activeColor;
            }
        }

        .app-picto {
            margin-right: @margin;
        }
    }

    // PICTO DECLARATIONS

    .app-item {
        .app-picto:before {
            .awsomefont;
        }

        &.view .app-picto:before {
            content: @fa-var-map-o;
        }

        &.compose .app-picto:before {
            content: @fa-var-pencil;
        }

        &.collect .app-picto:before {
            content: @fa-var-comments;
        }

        &.metadata .app-picto:before {
            content: @fa-var-file-text-o;
        }

        &.alias .app-picto:before {
            content: @fa-var-quote-right;
        }
    }

    // LOGOUT

    .logout-username {
        .textExtraLarge();
        margin-bottom: @margin;
    }

    h2 {
        margin-bottom: @margin;

        &.notification {
            border-top: @borderDark;
            margin-top: @margin;
            padding: @margin 0;
        }
    }

    // LOGIN
    .login-widget {
        a {
            text-decoration: none;
        }
    }

    // DISCLAIMER

    .user__disclaimer {
        margin-top: @margin * 2;
    }
}
