//POSITIONS

@media @sdi-small {
    .header,
    .main,
    .footer {
        position: relative;
        width: calc(~'100vw - 4 * @{margin-mob}');
        height: auto;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: 0 2 * @margin-mob;
        padding: 0;
    }

    .main {
        padding-top: @margin-mob * 2;
        .map-wrapper,
        .map-legend,
        .feature-view.config {
            position: relative;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            width: calc(~'100vw - 4 * @{margin-mob}');
            height: auto;
            margin: 0;
            padding: 0;
        }

        .map-wrapper {
            height: calc(~'100vw - 4 * @{margin-mob}'); // make a square map
        }
    }

    .vertical-split {
        position: relative;
        height: 200vw !important;
        max-height: calc(
            ~'100vh - 4 * @{margin-mob}'
        ) !important; //we get map + table on fullscreen
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        .map-wrapper {
            height: auto;
            bottom: 50% !important;
            margin-bottom: 0 !important;
        }
    }

}

// HEADER

@media @sdi-small {

    .header {
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;

        .header-toolbar {
            > div {
                display: none;
                &.lang-switch {
                    display: block;
                }
            }
        }

        .app-title {
            margin-left: @margin;
        }

        .app-listwrapper {
            .navigate {
                margin: 0;
            }
        }
    }
}

// FOOTER

@media @sdi-small {
    .footer {
        height: 15px !important;
        .ac-credits {
            right: 0;
        }
    }
}

// MAP

@media @sdi-small {
    .main {
        .map-wrapper {
            margin-bottom: @margin-mob * 2;

            .tool.geocoder {
                .absolute(0, initial, initial, 0);
                z-index: 10;
                min-height: 25px;
                border-bottom-color: @borderLightColor;
                border-top-color: @bodyBgColor;
                max-width: calc(~'100vw - 4 * @{margin-mob} - 30px');

                .adress-result span {
                    min-height: 20px;
                    height: auto;
                    padding: 2px 0;
                }
            }
        }

        .switcher.infos {
            .absolute(0, 0, initial, initial);
        }

        .map-legend {
            .legend-main {
                padding: 0;
            }
        }
    }
}

// TABLE

@media @sdi-small {
    div.infinite-table {
        .table-toolbar {
            flex-direction: column;
            align-items: flex-start;

            > div {
                margin-bottom: @small-margin;
            }

            .table-title {
                max-width: calc(~'100% - 30px');
            }

            .btn-close {
                .absolute(2 * @small-margin, @small-margin, initial, initial);
            }
        }
    }
}
