.select-related-maps-wrapper {
    position: relative;
    margin: 0 @margin;
    border: 1px solid #000;
    padding: @margin;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h1,
    h2 {
        margin-bottom: @margin;
    }

    .btn-navigate {
        .absolute(@margin, @margin, initial, initial);
    }

    .map-selector-wrapper {
        display: flex;
        overflow: hidden; //to check
        height: 100%;

        .un-linked-map-list,
        .linked-map-list {
            // flex: 1;
            display: flex;
            flex-direction: column;

            .map-list-wrapper {
                overflow: auto;
            }
        }

        .un-linked-map-list {
            border-right: 1px solid #000;
            margin-right: @margin;

            .map-list-wrapper {
                padding-right: @margin;
            }
        }
    }

    .linked-map,
    .un-linked-map {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: @margin;

        .link-action {
            margin-left: auto;
        }
    }

    .map-summary {
        display: flex;

        .map-tile-img {
            margin-right: 15px;
            position: relative;
            width: 150px;
            max-height: 100px;
            overflow: hidden;
            background: @bgLightColor;
            flex-shrink: 0;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                height: auto;
            }
        }
        .map-infos {
            margin-right: @margin;
            max-width: 200px;
        }
    }
}
