.feature-config .sidebar-main {
    height: 100%;
    margin-left: @margin;
}

.feature-config {

    .row {
        .flex(initial, space-between, initial);
        // .widgetActiveBackground;
        // padding: @margin / 2;
        // margin-bottom: @margin / 2;
        padding: 0 @margin / 2;
        cursor: default;
        position: relative;

        &:hover,
        &.active {
            background-color: @bgLightColor;
            color: @activeColor;
        }

        .propName {
            display: flex;
            align-items: center;
        }
    }
}

.feature-config .exportable-input-box {
    display: flex;
    align-items: center;

    &>div {
        cursor: default;
        padding: @margin;
        padding-left: 0;
        font-weight: @fwSemiBold;
        // .widgetActiveBackground;
        // margin-bottom: @margin;

        &::before {
            .awsomefont;
            content: @fa-var-square-o;
            margin-right: @small-margin;
        }

        &.active::before {
            .awsomefont;
            content: @fa-var-check-square-o;
        }
    }

    span {
        .awsomefont();
        cursor: default;

        &:hover {
            color: @activeColor;
        }
    }
}

.feature-config {
    .row-editor {
        .column__body {
            height:calc(~"100% - @{headerH}");
        }


        .item {
            .flex(center, initial, wrap);
            // .widgetActiveBackground;
            position: relative;
            padding: @small-margin;
            padding-right: 0; // So dropdown menu will stick on right
            border-right: 0px !important; // So dropdown menu will stick on right
            cursor: default;
            min-height: 25px;

            .with-label {
                width: 100%;

                &:before {
                    .awsomefont;
                    margin-right: @small-margin;
                    content: @fa-var-square-o;
                }

                &.active::before {
                    content: @fa-var-check-square-o;
                }
            }

            .label,
            .select {
                width: 50%;
            }

            // tmp hack, waiting for normal select to be implemented
            .select .selected:not(.none) {
                padding: 0px !important;
                border: 0px !important;
            }

            // tmp hack off


            input.template-url {
                width: calc(~"100% - @{margin}");
                margin: @small-margin 0;
            }
        }

    }
}


///////// INFOS STYLES
.feature-config {
    .group {}

    .group-label {
        .labelStyle;
        display: inline-block;
        margin-top: @margin;
        margin-right: @margin;
    }

    .group .row {
        padding: @margin / 2;

        .propName::after {
            .absolute(initial, @small-margin, initial, initial);
            .awsomefont;
            content: @fa-var-arrow-right;
            color: @inactiveColor;
        }

        &:hover .propName::after {
            color: @activeColor;
        }
    }
}



//// PICKER SYSTEM

.feature-config {

    .select {
        .absolute(0, 0, initial, initial);
        .widgetActiveBackground;
        border: 1px solid transparent; //override widgetActiveBackground
        border-right: 0px !important;
        margin: 0px;
        padding: @small-margin 0 0 0;
        background-color: transparent;

        div {
            display: none;
        }

        .selected {
            display: block;
            padding-left: @small-margin;
            color: @activeColor;
        }

        &:hover {
            border: 1px solid @borderLightColor  !important;
            z-index: 100;

            >div {
                padding: 0 @small-margin;
            }

            div {
                display: block;
                width: 100%;
                background: @bgLightColor;
            }

            .selected {
                .flex(center, initial, initial);
                position: relative;
            }

            .below {
                padding-top: @small-margin;

                >div {
                    padding: @small-margin 0;
                }
            }
        }
    }
}




///////// PIE CHART EDITOR

.row-editor {
    .selected-items {
        width: 100%;

        .value-name {
            .widgetActiveBackground;
            position: relative;

            .piece-header {
                .widgetActiveBackground;
                padding: 0 @small-margin 0 0;
                margin-bottom: @margin;
            }

            .piece-body {
                margin-bottom: @margin;
            }

            .btn-remove {
                margin-left: auto;
                margin-right: @small-margin;
            }

            .style-tool.label {
                display: flex;
                align-items: center;
            }
        }
    }

    input[type="text"] {
        width: 100%;
        margin: @small-margin;
    }
}