////////// APP HEADER TITLE
.app-split-header {

    .app-split-tools {
        display: flex;
        align-items: center;

        .layer-name {
            margin-right: 1ch;
            color: @activeColor;
            font-size: 1rem;
            font-weight: @fwSemiBold;
        }
    }

    .legend-type-value {

        &:before,
        &:after {
            content: "\00a0";
        }
    }
}





//////////     PICKER


.picker {
    .group {
        // .widgetActiveBackground;
        padding: @margin / 2 0;
        margin-bottom: @margin;
        position: relative; //IE11 fallback
        position: sticky;

        &:first-child {
            margin-top: @margin;
        }

        &:hover {
            background-color: @bgLightColor;
        }

        &.folded {
            color: @textColor;
            font-weight: @fwSemiBold;
        }

        &.active {
            .flex(initial, initial, wrap);
            background-color: @bgLightColor;
            padding: @margin / 2;
        }
    }

    .value-selector-title {
        margin-bottom: @small-margin;
    }

    .selected-items {
        .flex(initial, initial, wrap);
        margin-top: @margin;
        width: 100%;

        .value-name {
            position: relative;
            // font-size: 80%;
            font-weight: @fwSemiBold;
            cursor: default;
            padding: 3px;
            margin-right: 10px;
            background-color: @editable;

            &__label {
                padding: 0 @margin / 2;
            }
        }
    }

    .add-term {
        .flex(center, initial, initial);
        width: 100%;
    }

    input {
        margin: @small-margin 0;
        width: calc(~"100% - 2 * @{small-margin}");
    }

    // .btn-add {
    //     margin-bottom: @margin * 2;
    // }

    //////////     PICKER - CONTINUOUS

    .interval {
        .flex(initial, space-between, initial);
        margin-top: @margin;

        >div {
            width: calc(~"50% - @{small-margin} / 2");
        }

        input {
            margin-top: @small-margin;
        }
    }
}


.autoclass-picker {
    .flex(initial, flex-start, initial);
    align-items: center;

    input {
        width: 50%;
        margin-right: @margin;
    }
}





//////////     COLUMN PICKER

.column-picker {
    .column-picker-infos {
        width: 100%;
        margin-bottom: @margin;
    }

    .column-name {
        .widgetActiveBackground;
        cursor: default;
        margin-right: @small-margin * 2;
        margin-bottom: @small-margin * 2;
        overflow-wrap: break-word;
        display: inline-block;
    }
}



//////////     LEGEND PICKER

.legend-picker {
    display: flex;
    flex-direction: column;
    // align-items: center;

    &>div {
        cursor: default;
        padding: @margin;
        padding-left: 0;
        font-weight: @fwSemiBold;
        // .widgetActiveBackground;
        // margin-bottom: @margin;

        &::before {
            .awsomefont;
            content: @fa-var-square-o;
            margin-right: @small-margin;
        }

        &.active::before {
            .awsomefont;
            content: @fa-var-check-square-o;
        }
    }

    span {
        .awsomefont();
        cursor: default;

        &:hover {
            color: @activeColor;
        }
    }
}

//////////     LABEL COLUMN

.column__body.label {

    .style-tool.text {
        input {
            width: 100%;
            font-size: 0.8rem;
        }
    }
}