////// REGIONS AND STRUCTURE

.upload-wrapper {
    .absolute(0, 0, 0, 0);
    padding: @margin;

    .btn-close {
        .absolute(@margin, @margin, initial, initial);
    }

    .upload-widgets {
        .flex(baseline, initial, initial);
        width: 80%;
        min-height: calc(~"100% - 100px");
    }

    .csv {
        .flex(baseline, space-between, wrap);
        margin: 0 @margin;
    }

    .options,
    .lat-lon,
    input[type=file] {
        width: 100%;
    }
}



////////// STYLES


.upload-wrapper {
    width: calc(~"100% - @{margin} * 2");
    height: 100%;
    overflow-y: auto;
    margin: auto;
    border: 1px solid @borderLightColor;
    padding: @margin;

    .upload-widgets {
        margin: auto;
        margin-top: 100px;

        .upload-widget {
            .widgetBackground;
            position: relative;
            font-size: 80%;
            flex: 1;
            min-height: 100%;
            padding-bottom: @headerH;

            .upload-title {
                .flex;
                height: @headerH;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
            }

            .upload-label {
                .labelStyle;
                margin: @margin 0;
                margin-bottom: @small-margin * 2;
            }

            .radio,
            .checkbox {
                margin-bottom: @small-margin;
            }

            &.csv .lat-lon {
                margin-top: @margin;

                & .input-wrapper {
                    .flex(center, space-between, wrap);
                    margin-bottom: @small-margin;

                    input {
                        margin: 0px
                    }
                }
            }

            &.csv .options {
                margin-top: @margin;
            }

            .btn-upload {
                .absolute(initial, 0, 0, 0);
                text-align: center;
                ;
                padding-top: @margin;
                padding-bottom: @small-margin * 2;
            }
        }
    }
}