.color-component {
    position: relative;
    height: 12px;
    width: 100%;
    margin: 0 !important;
    margin-bottom: 2px !important;

    .picker {
        height: 100%;
        width: 100%;
    }

    .color-hue {
        background: linear-gradient(
            to right,
            hsl(0, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(120, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(240, 100%, 50%),
            hsl(300, 100%, 50%),
            hsl(360, 100%, 50%)
        );
    }

    .marker {
        height: 100%;
        width: 2px;
        border-left: 1px solid white;
        border-right: 1px solid black;
        position: absolute;
        top: 0;
    }
}

.saturation-preview,
.lightness-preview,
.alpha-preview {
    background: url(~'../../imgs/color-bg.png') repeat;
    height: 100%;
    width: 100%;
}

.color-rgb {
    width: 100%;
    display: flex;
    margin-bottom: @small-margin;
    justify-content: space-between;

    > span {
        flex: 3;
        max-width: 25%;

        input {
            flex: 1;
            // width: calc(~"50% - @{small-margin}") !important;
            width: auto !important;
        }

        &.color-preview {
            max-width: 12.5%;
            position: relative;
            flex: 1;
            margin-left: @small-margin;
            background: url(~'../../imgs/color-bg.png') repeat;
            .color-color {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        &:first-child:before {
            padding-left: 0px;
        }
    }

    .red:before {
        content: 'R : ';
    }
    .green:before {
        content: 'G : ';
    }
    .blue:before {
        content: 'B : ';
    }
}
