.dashboard-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: @margin*2;
    border-top: @borderDark;

    h1 {
        margin-bottom: @margin * 2;
    }

    .btn-add,
    .btn-edit {
        margin: @margin 0;
    }
}

.dashboard-maps {
    .flex(flex-start, initial, wrap);
}

.dashboard-map-item {
    .widgetBackground;
    position: relative;
    width: calc(~'25% - @{margin}');
    height: 400px;
    padding: @margin;
    padding-bottom: 0px;
    margin: @margin / 2;
    min-width: 200px;
    text-align: center;

    &.add {
        // color: @activeColor;
        text-align: initial;
        padding: 0px;
        background-color: @bodyBgColor;

        p {
            margin-bottom: @small-margin;
        }
    }

    .publication-status {
        .absolute(@small-margin, @small-margin, auto, auto);
        .textExtraSmall();
    }

    &.published .publication-status:after,
    &.draft .publication-status:after {
        .awsomefont;
        margin-left: 1ch;
    }

    &.published .publication-status:after {
        content: @fa-var-circle;
        color: @activeColor;
    }

    &.draft .publication-status:after {
        content: @fa-var-circle-o;
        color: @inactiveColor;
    }

    .image {
        height: 180px;
        width: 100%;
        // height: 120px;
        background-size: cover;
        background-position: center;
        margin-bottom: @margin;

        img {
            max-width: 100%;
            height: auto;
            max-height: 100%;
            margin-bottom: @small-margin;
        }
    }
}

.dashboard-map-title {
    font-size: 1.6em;
    font-weight: @fwExtraBold;
    margin: @margin 0;
    text-align: center;
}

.dashboard-date-updated,
.dashboard-data-type {
    font-size: 80%;
    margin-bottom: @margin / 2;
}
