.map-legend {
    padding: 0 @margin;
    overflow-y: auto;
    overflow-wrap: break-word;

    h2 {
        width: 100%;
        margin-top: @margin * 2;
    }

    .description-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
            margin-left: @margin;
        }
    }


    .related-maps {
        margin-top: @margin;

        .link {
            .link;
            .word-wrap;
            display: flex;
            margin-bottom: @small-margin;

            &:before {
                .awsomefont;
                .legendItemPosition;
                content: @fa-var-play;
                justify-content: center;
                content: @fa-var-play;
            }
        }
    }
}