.compose-app .sidebar-header {
    padding: @margin/2 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-bottom: @margin;

    .btn-publish,
    .btn-unpublish,
    .btn-remove {
        font-size: 0.65rem !important;
    }
}

.map-publishing-tools {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.65rem !important;


    .preview-link {
        a {
            text-decoration: none;
            color: @linkColor;

            &:hover {
                color: @linkColorHover;
            }

            &:before {
                .awsomefont;
                content: @fa-var-eye;
                margin-right: @margin / 2;
            }
        }
    }

    .helptext {
        text-transform: initial;
        font-size: 0.75rem;
        width: 100%;
        margin-top: @small-margin;
        // font-weight: 400;
    }
}




.map-date {
    margin: @margin 0;
    display: flex;
    font-style: italic;

    .map-date-value:before {
        content: "\00a0"
    }

}


.map-file {
    .flex;
    .widgetBackground;
    .word-wrap;
    position: relative;
    width: 100%;
    margin-top: @margin;

    .map-file-label {
        width: 100%;
        margin-bottom: @small-margin;
    }

    .map-file-url {
        width: 100%;
        font-size: 80%;
        font-weight: @fwLight;
    }

    .file-label,
    .file-url {
        .word-wrap;
        background-color: @editable;
        display: flex;

        &:before {
            .awsomefont;
            .legendItemPosition;
            justify-content: center;
            font-size: 1rem;
        }
    }

    .file-label:before {
        content: @fa-var-pencil;
    }

    .file-url:before {
        content: @fa-var-link;
        font-size: 1rem;
    }

    .btn {
        margin-top: @small-margin;
        margin-left: auto;
    }
}





.editable-wrapper {
    position: relative;
    display: flex;
    width: 100%;

    &.empty-content {
        color: @inactiveColor;
    }

    h1,
    .map-description,
    .group-title {
        background-color: @editable;
        flex: 1;
    }

    .group-title {
        width: 100%;
    }

    .map-illustration {
        width: 100%;

        .empty-image {
            .awsomefont;
            .widgetBackground;
            padding: 0px;
            width: 100%;
            color: @bgLightColor - 10%;
            height: 250px;
            font-size: 200px;
            line-height: 250px;
            text-align: center;
        }

        img {
            width: 100%;

            &.preview {
                opacity: 0.5;
            }
        }

        .uploader-wrapper {
            .flex;
            .widgetBackground;
            min-height: 40px;
            margin-bottom: @margin * 2;

            >.label {
                padding: 5px;
                font-size: 0.8rem;

                &:empty {
                    display: none;
                }
            }

            .btn-remove {
                .absolute(@margin/2, @margin/2, initial, initial);
                background: #fff;

                &:hover {
                    background: @warningColor;
                }
            }
        }
    }

    .map-description {
        // override legend-mapinfos.less
        margin-top: 0px !important;
        margin-bottom: @margin;
        min-height: 3rem;
        font-size: 1rem;
    }
}


.legend-wrapper {

    .layer-item {
        display: flex;

        .item-style {
            .legendItemPosition;
            margin-top: @small-margin;

            img {
                width: 100%;
                height: auto;
            }
        }

        .item-label {
            .flex(center, initial, initial);
            min-height: 20px;
        }
    }

    .layer-action {
        font-size: 65%;
    }
}

.map-legend {

    >div {
        position: relative;
    }


    .legend-block {
        background-color: @bodyBgColor;

        .table-name {
            font-weight: @fwBold;
            font-size: @gui-font-size * 1.4;
        }

        .legend-block-tools {
            display: none;
        }

        &:hover {
            background-color: @bgLightColor;

            .table-name {
                color: @activeColor;
            }
        }

        &:focus,
        &:active {
            background-color: @bgLightColor;

            .table-name {
                color: @activeColorPressed;
            }
        }

        &:hover,
        &.active {
            background-color: @bgLightColor;

            .table-name {
                color: @activeColor;
            }
        }

        &.active {


            .legend-block-tools {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: @small-margin;
                border-bottom: 1px solid @borderLightColor;

                .zoom-range {
                    .textExtraSmall();
                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                    .zoom-range-input-box {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        margin-right: 1ch;
                    }

                    .label {
                        flex-shrink: 0;
                    }

                    input {
                        width: 2.5rem;
                        margin-left: 0.5ch;
                    }
                }

                .tool-box {
                    display: flex;
                    align-items: center;

                }
            }
        }
    }

    .legend-block {
        .word-wrap;
        position: relative;
        margin-top: @margin;
        padding: @small-margin;
        cursor: default;

        .table-name {
            margin-bottom: @margin/2;

            .load-error {
                color: @inactiveColor;
                text-decoration: line-through;
            }

            >div {
                width: 100%; // hack for tooltip width and truncated label
            }

            span {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                line-height: 115%;
            }
        }

        .editable-wrapper {
            margin: @margin /2 0;

            >div:first-child {
                background-color: @editable;
                width: 100%;

            }
        }

        .hidden {
            color: @inactiveColor;
            .interactive;
        }
    }



}