//////////     TOOLBOX


.column {
    display: flex;
    flex-direction: column;

    &__title {
        border-bottom: 1px solid @borderLightColor;
    }

    .helptext {
        margin-top: @margin;
    }

    .style-tool {
        .flex(center, space-between, wrap);
        margin-bottom: @margin;
        padding: 0px 2px; // trick for scroll in x, should be fixed


        &:first-child {
            margin-top: @margin;
        }

        &:last-child {
            border: 0px;
        }

        >* {
            margin: @small-margin 0;
        }

        .input-label {
            font-weight: @fwSemiBold;
        }


        input {
            width: calc(~"33% - @{margin} / 2 - @{small-margin}");
        }

        input[type="color"] {
            padding: 0px;
            height: 25px;
            width: calc(~"50% - @{small-margin} + 2px");
        }

        input[type="color"] {
            -webkit-appearance: none;
            border: none;
        }

        input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        input[type="color"]::-webkit-color-swatch {
            border: 1px solid @inputBorderColor;
        }
    }

    .btn-switch {
        margin-left: auto;
    }
}

//////////     TOOL : LABEL POSITION

.label-position-widget {
    width: calc(~"50% - 4px");
    max-width: 170px;
    min-width: 100px;
    padding: 0 @small-margin;
    background: @bodyBgColor;
    border: 1px solid @inputBorderColor;

    .row {
        .flex(center, space-around, initial);
    }

    .label {
        width: 60px;
        height: 12px;
        background: @inactiveColor;
        margin: 4px 0;


        &.active {
            background: @activeColor;
        }
    }

    .picto {
        .awsomefont();
        width: 40px;
        height: auto;
        text-align: center;
    }

}


//////////     TOOL : PICTO LIBRARY

.style-tool.picto-collection .library .serie>div {
    font-family: 'forkawesome';
    display: inline-block;
    padding: @small-margin;
    cursor: default;
    color: @inactiveColor;


    &.selected {
        color: @textColor;
    }
}


//////////     TOOL : HATCHES

.style-tool.hatch-wrapper {
    display: flex;
    justify-content: space-between;

    .hatch-pattern {
        cursor: default;
        font-weight: @fwSemiBold;

        &:before {
            .awsomefont;
            width: 20px;
            padding-right: @small-margin;
        }

        &.active:before {
            content: @fa-var-check-square-o
        }

        &.inactive:before {
            content: @fa-var-square-o
        }

    }

    .angle .library .serie {
        display: flex;
        justify-content: space-between;

        >div {
            cursor: default;
            padding: @small-margin / 2;
            margin: 0 @small-margin;
            color: @inactiveColor;

            &.selected {
                color: @textColor;
            }

            &:hover {
                color: @activeColor;
            }
        }
    }

}