
// TO REMOVE
.switcher {
        // display: none;
    .absolute(0px, @panel-rightW, initial, initial);
    z-index: 2;
    width: 25px;
    height: @switchH + 2px !important;
    border-left: 1px solid @borderLightColor;
    border-bottom: 1px solid @borderLightColor;
    border-right: 1px solid @bodyBgColor;
    background-color: @bodyBgColor;

    // .switch-background-bn {
    //     background: url(~"../../imgs/background-switch-bn.jpg");
    // }

    // .switch-background-ortho {
    //     background: url(~"../../imgs/background-switch-ortho.jpg");
    // }


    .switch-background-bn,
    .switch-background-ortho {
        .flex(center, center, initial);
        width: 19px;
        height: 32px !important;
        cursor: default;
        background-size: cover;
        margin-left: 4px;
        // margin-top: 0px;
    }
}