.app-infos {
    line-height: 120%;
    font-family: 'u001con'; // need to be factored
    font-size: 1rem;

    p {
        margin-top: @margin / 2;

        &:first-child {
            margin: 0;
        }
    }
}
