//MAP NAVIGATOR

@media @sdi-small {
    .map-navigator {
        width: 100%;
        border: 0px;
        padding: 0;

        h1 {
            margin-bottom: @margin;
        }

        .input-wrapper,
        .input-wrapper input {
            width: 100%;
            font-size: 1rem;
        }

        .maps-container .map-navigator-tile {
            width: 100%;
        }
    }
}

//LEGEND

@media @sdi-small {
    .main .switcher {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        border: none;
        padding: 5px 0;
        border-bottom: 1px solid #000;

        .switch-item {
            width: auto;
        }

        .picto:before {
            font-size: 15px;
        }
    }
}

//LEGEND

@media @sdi-small {
    .datas-wrapper .layer-actions {
        width: auto;
        font-size: 1rem;
        height: calc(~'1rem + 5px');
        margin: 0;

        .visible:before,
        .hidden:before,
        .table:before {
            height: calc(~'1rem + 5px');
            width: calc(~'1rem + 5px');
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-right: 5px;
        }
    }

    .datas-wrapper .box--harvest {
        position: relative;
        bottom: initial;
    }
}

@media @sdi-small {
    .main .sidebar-right {
        position: relative;
        margin-top: 20px;
        padding: 0;
        padding-bottom: 50px;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
    }
}

// FOOTER

@media @sdi-small {
    .footer {
        position: fixed;
        height: 15px;
        bottom: 0;
        top: auto;
    }
}

// TOOLS INFOS

@media @sdi-small {
    .tool-widget {
        position: relative;
        width: 100%;
        border: 0px;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
    }
}
