@edito-title-height : 12rem;



.dashboard-app {
    .edito {
        .illu__img {
            // width: 100%;
            // padding-bottom: 66%;
            // background-image: url("../../assets/imgs/Quartier-Nord_Jonathan_Ortegat.jpg");
            // background-size: contain;
            // margin-top: -@edito-title-height;
            display: none;
        }

        //temp Hack ON
        .illu__caption:after {
            // content: 'Quartier Nord - (c) Jonathan Ortegat';
            // .textExtraSmall();
            // width: 100%;
            // margin-top: @margin / 3;
        }

        .edito__title {
            display: none;
        }

        .edito__title:before {
            // content: 'Data to project';
            // width: 100%;
        }

        //temp Hack OFF

    }

    .dashboard-wrapper {
        display: flex;
        height: 100%;
        overflow: hidden;

        >div {
            flex: 1;
            border-top: @borderDark;
            padding-top: @margin;
            height: 100%;
            overflow-y: auto;

            &:nth-child(n+2) {
                margin-left: @margin * 2;
            }

            &.my-apps {
                flex: 1.4;
            }

            &.login-widget {
                flex: 0.6;
            }
        }
    }

    // EDITO 
    .edito {
        padding-top: 0 !important;
    }

    .edito__title {
        .textExtraLarge();
        .triangle(@cornerTopLeft, @greyExtraLight);
        padding-top: @margin;
        height: @edito-title-height;
    }

    .edito__text {
        margin-top: @margin;
        // .textBig();
        font-family: 'u001con';
        font-weight: @fwRegular;
        line-height: 120%;
        font-size: 1rem;

        p {
            margin-bottom: @margin;
        }
    }

    .app-item {
        padding: @margin * 1.5 0;
        border-bottom: @borderDark;
        // margin-bottom: @margin;

        &:first-child {
            padding-top: @margin * 0.5;
        }

        .app__wrapper {
            // .textExtraLarge();
            font-size: 1.2rem;
            text-transform: uppercase;
            display: inline-flex;
            align-items: center;
            // padding-bottom: @margin;

            &:hover {
                color: @activeColor;
            }
        }

        .app-picto {
            margin-right: @margin;
        }


    }

    // PICTO DECLARATIONS

    .app-item {

        .app-picto:before {
            .awsomefont;
        }

        &.view .app-picto:before {
            content: @fa-var-map-o;
        }

        &.metadata .app-picto:before {
            content: @fa-var-file-text-o;
        }

        &.compose .app-picto:before {
            content: @fa-var-pencil;
        }

        &.alias .app-picto:before {
            content: @fa-var-quote-right;
        }

        &.solar .app-picto:before {
            content: @fa-var-sun-o;
        }

        &.angled-universe .app-picto:before {
            content: @fa-var-book;
        }

        &.angled-project .app-picto:before {
            content: @fa-var-table;
        }

        &.angled-query .app-picto:before {
            content: @fa-var-search;
        }
    }



    // LOGOUT 

    .logout-username {
        .textExtraLarge();
        margin-bottom: @margin;
    }

    h2 {
        margin-bottom: @margin;

        &.notification {
            border-top: @borderDark;
            margin-top: @margin;
            padding: @margin 0;
        }
    }
}