@media @sdi-small {
    .dashboard-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 0px;
        padding: 0;
        padding-bottom: 50px;

        .login-widget,
        .my-apps {
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            margin: 0 !important;
        }

        .login-widget {
            order: -1;
            flex-direction: row;
            justify-content: space-between;
            border: 0px !important;
            font-size: 100%;
            padding: 0;
            margin: 0 !important;

        }

        .app-list {
            justify-content: space-around;
            padding: 0;

            .app-item {
                font-size: 125%;

                .app-picto {

                    &:before {
                        font-size: 30px;
                    }
                }
            }
        }

    }


}