<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="alternate" hreflang="fr" href="" />
        <meta name="description" content="" />

        <meta property="og:title" content="cartofixer" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="cartofixer" />
        <meta property="og:description" content="" />
        <title>cartofixer</title>

        <link href="{% static 'web/main.css' %}" rel="stylesheet">

    </head>

    <body>

        <div class="main">

            <h1>cartofixer</h1>

            <div class="tagline">Une plateforme de collecte, de mise en commun de données et de publication de cartes, accompagnée d'un dispositif social en constante évolution.</div>

            <p>Cartofixer s'adresse en premier lieu aux initiatives citoyennes, sociales, artistiques et militantes. Cartofixer prend la forme d'outils technologiques traversés par des moments sociaux collectifs destinés à accompagner la mise en place de campagne d'observations, la collecte de données, leur visualisation, et la publication de cartes.</p>

            <p>A travers ces dispositifs, cartofixer encourage la création de savoirs communs, spécifiques, situés, par et pour les sujets concernés par les problématiques spatiales/territoriales qui se discutent lors de la collecte, lors de la création de cartes, et lors de leur publication.</p>

            <h2>Les outils à disposition</h2>

            <p>Les outils proposés ici sont le fruit de recherches et d'expérimentation plus ou moins poussés, et sont par conséquent en évolution et à divers stades de développement. N'hésitez pas à nous <a href="https://atelier-cartographique.be/fr/cartofixer.html">contacter</a> pour toute question à ce sujet.</p>

            <h3>maplog</h3>

            <p><em>Maplog</em> est un outil de cartographie collaborative et d'annotation territoriale à l'aide de pictogrammes personnalisables. <em>Maplog</em> c'est comme un pad de la cartographie, une carte qui peut être annotée avec des pictogrammes et des mots de manière collaborative, en ligne et en temps réel. Les données (points+texte) peuvent ensuite être exportées, et utilisées dans le <em>Studio</em>.
            </p>

            <p><a href="https://maplog.atelier-cartographique.be/">Lien vers <em>maplog</em></a></p>

            <h3>collecte</h3>

            <p><em>Collecte</em> [beta] est une application reliée à un dispositif social qui accompagne la mise en place de campagnes d’observations de terrain. <em>Collecte</em> est un outil pensé pour un usage collectif. <em>Collecte</em> sert à récolter de l'information structurée, sous forme de QCM (défini collectivement), qui peut être enrichie via des annotations (texte ou image). <em>Collecte</em> permet d'inscrire les données dans un contexte, mais aussi de relier la donnée à des spécificités de l'observateur.trice, afin de créer du savoir situé. Le résultat de la collecte peut ensuite être analysé, discuté, confronté. </p>

            <p><a href="/client/collect">Lien vers <em>collecte</em></a></p>

            <h4>Initiation de la campagne/atelier des collectes</h4>

            <p>Avant d'utiliser l'outil <em>Collecte</em>, le formulaire qui servira à la campagne d'observation est discuté et conçu lors d'un ou plusieurs moments collectifs, les <em>ateliers des collectes</em> lors duquel un groupe, qui se retrouve ensemble autour d'une question territoriale, politique et/ou sociale, traduit ses intentions dans un formulaire structuré sous forme de QCM. La collecte découle d'une réflexion collective et les questions font sens pour les personnes concernées par la collecte.</p>

            <p><a href="mailto:contact@cartofixer.be">Contactez-nous pour rejoindre un <em>atelier des collectes</em>.</a></p>

            <h3>studio</h3>

            <p><em>Studio</em> permet de créer et publier des cartes à partir des données disponibles. Le <em>Studio</em> peut aussi être un lieu de questionnement des données, de réinterprétation de données institutionnelles, un lieu où la légende et la description de la carte se définit, <em>qu'est-ce que l'on nomme, qu'est-ce que l'on décide de rendre visible</em>. La carte peut être reliée à d'autres cartes pré-existantes, et enrichie à l'aide d'images, de texte, et autres metadata.</p>

            <p> Les cartes publiées dans le <em>Studio</em> sont disponibles dans l'<em>Atlas</em>.</p>

            <p><a href="/client/compose">Lien vers le <em>studio</em></a></p>

            <h3>atlas</h3>

            <p> <em>Atlas</em> permet de visualiser et partager les cartes de la plateforme, créées dans le <em>Studio</em>. L'<em>Atlas</em> est un lieu de mise en commun des cartes, un lieu de confrontation des imaginaires, des projets, des problématiques. Grâce aux repères, et aux cartes liées, l'<em>Atlas</em> permet de naviguer d'une carte à l'autre. Chaque carte de l'<em>Atlas</em> offre la possibilité de se plonger dans les données qui la composent.</p>

            <p>Enfin l'Atlas permet la diffusion de cartes, via une intégration web ou un export pdf pour l'impression.</p>

            <p><a href="/client/view">Lien vers l'<em>atlas</em></a></p>

        </div>

        <div class="footer">

            <a href="https://cartofixer.be">cartofixer</a> est une initiative d'<a href="https://atelier-cartographique.be">atelier cartographique</a>, localisée à Bruxelles — <a href="https://gitlab.com/cartofixer/cartofixer"> Gitlab Repository</a>
        </div>
        </div>
    </body>

</html>
