.helptext {
    // font-family: 'u001con';
    font-size: 1rem !important;
    font-style: italic;
    margin: @margin 0;
    line-height: 120%;

    p {
        margin-top: @margin / 2;

        &:first-child {
            margin: 0px;
        }
    }
}


// COLLAPSIBLE SYSTEM
// .helptext,
// .showText,
// .hideText:target {
//     opacity: 0;
//     max-height: 0px; //this is instead of transition on height:auto
//     overflow: hidden;
// }
// .hideText:target + .showText,
// .hideText:target ~ .helptext {
//     opacity: 1;
//     max-height: 500px; //this is instead of transition on height:auto
//     overflow: initial;
// }