body[lang='fr'] .embed .brand-logo-box {
    width: 50px !important;
    background-size: 65px;}

body[lang='nl'] .embed .brand-logo-box {
    width: 50px !important;
    background-size: 65px;
}

body[lang='fr'] .embed .brand-name,
body[lang='nl'] .embed .brand-name {
   display: none;
}


.embed {

    .brand-logo-box {
        .absolute(initial, initial, 0, 0);
        background-color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: @borderLightColor;
        border-bottom-color: #fff;
        border-left-color: #fff;
        height: 18px;

        &:before {
            content: 'cartofixer';
            font-family: 'u001con';
            font-size: 0.8rem;
        }
    }
}

