@media @sdi-small and (orientation: portrait) {
    .embed .main {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .embed .main .map-wrapper {
        position: relative;
        height: 100vw;
        margin-bottom: @margin;

        .brand-logo-box {
            display: none;
        }
    }

    .embed .main .legend,
    .embed .main .sidebar-main {
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
        margin-top: 5px;
    }
}
