.root.collect {
    .absolute(0, 0, 0, 0);
    overflow: hidden;

    >div {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
    }

    h1 {
        width: calc(~"100vw - @{margin}*2");
        margin-left: calc(~"-@{smallSidebar} - @{margin}");
        margin-bottom: @margin*2.5;
    }


    .main {
        flex: 1;
    }

    .home-wrapper,
    .collect-infos__body,
    // .observation-wrapper-form,
    .answer-form__body,
    .observation__body {
        // margin-left: @margin-mob;
        padding-left: calc(~"@{smallSidebar} + @{margin} + @{margin-mob}");
        padding-right: @margin;
    }

    .observation-wrapper-form {
        padding: 0 @margin;
    }

    .question-meta__wrapper,
    .collect-head__wrapper,
    .collect-title__wrapper,
    .question-meta__wrapper,
    .observation-head__wrapper {
        position: relative;
    }
}

// edit mode 

.main.observation-form,
.main.answer-form {
    position: initial;

    //     &::before {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     left: 0;
    //     content: '';
    //     display: block;
    //     height: @smallSidebar;
    //     background-color: @activeColor;
    //     z-index: -100;
    // }

    .breadcrumb {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .edition-mode__label {
            text-transform: uppercase;
            color: white;
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 900px) {

    .root .collect>div {
        height: initial;
        width: 100%;
        margin: 0px;

        &.header,
        &.footer {
            padding: 0 @margin / 2;
        }
    }

    .root.collect .main {
        overflow: initial;
        height: auto;

        >div {
            width: 100%;
            // max-width: 100vw;
            border-top: 0px;
        }
    }
}

.root.collect {
    .header-toolbar .lang-switch {
        display: none;
    }
}

h1 {
    margin: @margin 0;
}

.actions {
    margin: @margin 0;

    .btn {
        margin-right: @margin / 2;
        margin-bottom: @margin / 2;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.markdown img,
.md img {
    width: 100%;
}