@green : #73CD00;
@blue2 : #009FD1;

@answerMaxWidth : 700px;
@answerItemWidth : 300px;
@minHeightLabel : 3.25rem;
@choiceLabelSize : 2rem;

.inMargin() {
    .absolute(initial, initial, initial, calc(~"-1 * (@{smallSidebar} + @{margin})"));
    width: @smallSidebar;
    color: #000;
    color: @black;
    font-size: .75rem
}