// Annotation form

.main.annotation-form {
    width: 100%;
    padding: 0 @margin;


    * {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}


// IMAGE FORM

.image-form {

    .target,
    .upload-image>* {
        margin-top: @margin;
    }

    img {
        display: block;
        width: 100%;
        max-width: 300px;

        &.selected {
            opacity: 0.5;
        }
    }

    input {
        display: block;
    }
}

// TEXT FORM



.text-form {
    .target {
        margin-top: @margin;
    }

    textarea {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: @margin 0;
    }
}