// campaign answer 

.observation-wrapper-form {
    display: flex;
    flex-direction: column;

    H2 {
        margin-bottom: @margin;
    }

    .observation-wrapper-map-form {
        position: relative;
        margin: @margin 0;
        margin-bottom: 3.25rem;
        height: 100%;

        .map-wrapper {
            height: 100%;
        }
    }
// button.add-observation,
// button.validate-location {
//     // position: relative;
//     margin-top: @margin;
// }
}

.observation-wrapper-form .form-header {
    margin-top: @margin;
}

.annotate-observation {
    margin-bottom: @margin;

    .btn {
        margin-right: @margin;
    }
}

.answer__wrapper {

    .choice__wrapper.selected {
        background-color: @activeColor;
        color: #fff;
    }
}