.choice__list {
    margin-top: @margin;
}

.choice__wrapper {
    position: relative;
    border: 2px solid @activeColor;
    border-radius: (@minHeightLabel/2);
    margin-bottom: (@margin/2);
    color: @activeColor;

    details>summary {
        list-style: none;
    }

    details>summary::-webkit-details-marker {
        display: none;
    }

    summary {
        .absolute(0, initial, initial, (-@margin*3));
        border-radius: 100%;
        width: calc(~"@{minHeightLabel} - @{margin}");
        height: calc(~"@{minHeightLabel} - @{margin}");
        margin-top: (@margin/2);
        margin-right: (@margin/2);
        color: transparent; // hide the default arrow from SUMMARY html
        background-image: url('../../../../platform/style/var/assets/imgs/picto-info.svg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }

    summary,
    .choice__label {
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            transition: all 0.2s;
            // background-color: @green;
            // color: transparent;
        }
    }

    details {
        padding: 0 @margin ;

        &[open] summary {
            // background-color: @textColor;
        }


    }

    .md {
        padding-bottom: @margin;

        p:last-child {
            margin-bottom: 0px;
            padding-bottom: (@margin / 2);
        }
    }
}

.choice__wrapper {

    &.unselected,
    &.unselectable {
        border-color: @greyLight;
        color: @greyLight;
    }
}

.choice__label {
    min-height: @minHeightLabel;
    display: flex;
    align-items: center;
    font-size: @choiceLabelSize;
    letter-spacing: -0.12rem;
    padding: 0 @margin;
    border-radius: (@minHeightLabel/2);



    &.selected {
        transition: all 0.4s;
        background-color: @activeColor;
        color: #fff;
    }

    // &:hover {
    //     color: inherit !important;
    // }

    // &.disabled {
    //     border-color: @greyLight;
    //     color: @greyLight;
    // }
}