.main.collect {

    padding-bottom: 5.25rem;

    .collect-meta__wrapper,
    .collect-map__body {
        position: relative;
    }

    .collect-map__side {
        .inMargin();
        top: 0;
    }

    .question-lists__wrapper {
        margin-top: @margin *4;
    }

    .collect-map__wrapper {
        position: relative;
        margin-top: @margin*4;

        &:before,
        &:after {
            content: "";
            .inMargin();
            border-bottom: 2px solid @activeColor;
        }

        &:before {
            top: 0;
            bottom: initial;
        }
    }

    .question-lists__wrapper {
        .choice__wrapper {
            border-color: @greyMedium  !important;
        }

        .choice__label {
            &:hover {
                background-color: initial;
                color: @greyMedium;
            }

            color: @greyMedium;
            font-size: 1.5rem;
            min-height: 2.25rem;
        }
    }
}