// campaigns list

.collect__item {
    position: relative;
    padding-bottom: @margin * 4;

    &:first-child {
        margin-top: @margin * 4;
    }

    &:before,
    &:after {
        content: "";
        .inMargin();
        border-bottom: 2px solid @activeColor;
    }

    &:before {
        top: 0;
        bottom: initial;
    }

}

.collect__description {
    position: relative;

    .collect__meta {
        .inMargin();
        top: 0;
        bottom: initial;
    }
}

button.add-observation,
button.validate-location {
    border: 2px solid @activeColor;
    border-radius: (@minHeightLabel/2);
    margin: @margin;
    // width: calc(~"100vw - @{margin}*2");
    width: 100%;
    background-color: white;
    color: @activeColor;
    font-size: @choiceLabelSize;
    min-height: @minHeightLabel;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 100;


}

.add-observation__wrapper {
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: white;
    margin-left: calc(~"-@{smallSidebar} - @{margin}*1.5");
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;


    button {
        padding: 0 @margin ;
    }
}

button.validate-location {
    margin-left: 0;
}

button.disabled {
    border-color: @greyLight;
    color: @greyLight;
}