//campaign map

.collect-map,
.observation-wrapper-map-form,
.collect-infos__wrapper {
    // height: 100%;
    .map-wrapper {
        position: relative;
        height: 66vw;
        width: 100%;
    }
}

.minimap {
    margin-top: @margin;
    img {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .collect-map .map-wrapper,
    .observation-wrapper-map-form .map-wrapper {
        // position: relative;
        // height: 100%;
        margin-bottom: 0px;
    }
}
