// OBSERVATION 

.main.observation {
    width: 100%;

    .question__infos {
        margin: @margin 0;

        .question {
            margin-bottom: @margin;
        }
    }

    .observation__meta {
        .inMargin();
        top: 0;
        bottom: initial;
    }

    .choice {
        position: relative;
        min-height: 3.25rem;

        &.unselected {
            display: none;
        }

        .choice__label {
            font-size: 1.5rem;
            margin: @margin 0;
            color: @activeColor;
            border-radius: (@minHeightLabel/2);
            width: calc(~"100% - 3.25rem - @{margin}");
            text-align: center;
            margin-bottom: @margin / 2;
            padding: @margin @margin * 2;
            border: 2px solid @bgLightColor;

        }

        summary {
            .absolute(0, 0, initial, initial);
            .awsomefont();
            border-radius: 100%;
            width: 3.25rem;
            height: 3.25rem;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            transition: all 0.2s;
            // font-size: 1.25rem;
            // background-color: @bgLightColor;
            // color: @activeColor;
            cursor: pointer;

            background-image: url('../../../../platform/style/var/assets/imgs/picto-info.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
                transition: all 0.2s;
                border: 2px solid @activeColor;
            }
        }

    }

    .answers {
        margin-bottom: @margin;
    }

}

@media screen and (max-width: 900px) {

    .observation .observer,
    .observation .observed {
        max-width: 100%;
    }
}