// Campaign details 
.question__infos {
    position: relative;
}

.question__list {
    position: relative;
    margin-top: @margin * 4;
}

.question {
    position: relative;
    margin-top: @margin * 4;
}


.question__number {
    .inMargin();
    top: 0;
    bottom: initial;
    font-size: 2.4rem;
    padding-top: @margin;
    border-top: 2px solid #000;
    color: @textColor;
}


// .question-meta{
//     width: 100%;
//     max-width: @answerItemWidth;
// }

// .question-meta {
//     margin-right: @margin;
// }