.metadata-list {
    // width: calc(~'100% - @{margin} * 2');
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    // margin: auto;
    border-top: @borderLight;
    padding-top: @margin;

    h1 {
        margin-bottom: @margin * 2;
    }

    .infinite-table {
        height: calc(~'100% - 47px - 2 * @{margin}');

        .table-toolbar {
            border-top: 0px;
        }

        &.loading {
            .flex(@justify: center;);
            flex-direction: row;
        }

        .table-header {
            .table-cell {
                font-weight: 100;
                text-transform: uppercase;
                padding: @margin / 2 0;

                &:first-child {
                    text-align: left;
                    min-width: auto;
                }
            }
        }
    }
}
