.metadata-editor {
    // width: calc(~'100% - @{margin} * 2');
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    // margin: auto;
    border-top: @borderLight;
    padding-top: @margin;

    * {
        box-sizing: border-box;
    }

    h1 {
        margin-bottom: @margin * 2;
    }

    .label {
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: @small-margin;
        font-size: 0.8rem;
    }

    .meta-wrapper {
        .flex(@justify: flex-start, @align: flex-start);
        .absolute(82px, @margin * 2, 65px, 0); // flex: 1;

        .meta-edit {
            .flex(@wrap: nowrap, @align: flex-start, @justify: initial);
            .widgetBackground;
            height: 100%;
            padding: @margin 0;
            width: calc(~'100vw - 2 * @{margin}');
        }

        .metadata-info,
        .meta-common {
            flex: 1.5;
        }

        .meta-fr,
        .meta-nl,
        .meta-en {
            flex: 1;
        }

        .metadata-info,
        .meta-fr,
        .meta-nl,
        .meta-en,
        .meta-common {
            padding: 0 @margin;

            > * {
                .word-wrap;
                display: block;
                width: 100%;
            }

            .app-col-header {
                .labelStyle;
                display: flex;
                text-align: center;
                margin-bottom: @margin;
            }

            .app-col-main {
                height: 100%;
            }
        }

        .metadata-info,
        .meta-common,
        .meta-fr,
        .meta-nl {
            border-right: 1px solid #000;
        }

        .metadata-label {
            margin-bottom: @margin;
        }
    }

    .meta-action {
        .absolute(auto, 0px, 0px, 0px);
        height: 50px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
