.compose-app {

    .dashboard-map-item.add {
        margin: 0px;
    }

    //input numbers

    input {
        font-size: 0.8rem;
    }

    //zoom range inputs
    .layer-infos .zoom-range .zoom-range-input-box {
        align-items: center;
    }

    // color input
    .color-rgb span input {
        width: auto !important;
    }

    .map-date {
        font-style: normal;
        font-family: 'u001con';
        font-size: 1rem;
    }

}