* {
    .scroll-mixin();
}

body {
    font-family: @gui-font;
    font-size: @gui-font-size;
    background-color: @bodyBgColor;
    color: @textColor;
}

h1,
h2,
h3 {
    // font-family: @gui-condensed-font;
    font-weight: @fwRegular;
}

h1 {
    font-size: 330%;
    line-height: 90%;
    letter-spacing: -0.1em;
    // min-height: 1em;
}

h2 {
    font-size: 250%;
    line-height: 90%;
    letter-spacing: -0.07em;
    // min-height: 1em;
}

h3 {
    font-size: 175%;
    line-height: 90%;
    letter-spacing: -0.07em;
    // min-height: 1em;
}



a {
    .transition;
    color: @linkColor;
    text-decoration-color: @linkDecorationColor;

    &:hover {
        color: @linkColorHover;
    }
}

details {
    summary {
        cursor: default;
        &:hover {
            color: @activeColor;
        }
    }
}

.loader-spinner {
    .awsomefont-spin;
    margin: 0 @small-margin;

    &:before {
        color: @loaderColor;
        content: @fa-var-circle-o-notch;
    }
}

.toggle {
    .flex(@justify: flex-start);

    .active,
    .no-active {
        font-weight: 500;
    }

    .active {
        color: @activeColor;
    }

    .no-active {
        color: @inactiveColor;
    }

    .icon-only:before {
        font-size: 18px;
        color: @activeColor;
        margin: 0 @small-margin;
    }
}

.hidden {
    display: none !important;
}
