.header {
    .flex(center, initial, initial);
    margin: 0 @margin;
    font-size: 80%;

    > div {
        .flex(center, initial, initial);
        height: @headerH;
    }

    *:not(.logo-cartofixer) {
        font-size: inherit !important;
        color: @textColor;
    }

    a.logo-cartofixer {
        background-color: white;
        text-decoration: none;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: @logoWidth;
        height: @logoHeight;
        border: 2px solid black;
    }

    .app-title {
        font-size: 35px !important;
        letter-spacing: -0.5px;
        margin-left: 1ch;
    }

    .lang-switch,
    .navigate,
    .app-select .head-label {
        .transition;
        cursor: default;
        margin-left: @margin;
        // text-transform: uppercase;

        &:before {
            .awsomefont;
            margin-right: @small-margin !important;
            color: @textColor;
        }

        &:hover {
            color: @textColor;

            &:before {
                color: @activeColor;
            }
        }
    }

    .app-listwrapper {
        .absolute(0px, calc(~'@{panel-rightW} + 25px'), auto, auto);

        .app-listview:before {
            content: @fa-var-ellipsis-h;
        }
    }

    .header-toolbar {
        .absolute(0px, 0, auto, auto);
        z-index: 99999999;

        a {
            color: @textColor;
            text-decoration: none;
            cursor: default;
        }

        .lang-switch:before {
            content: @fa-var-comment;
        }

        .documentation:before {
            content: @fa-var-book;
        }

        .account:before {
            content: @fa-var-user;
        }

        .app-select .head-label::before {
            content: @fa-var-home;
        }

        .app-select .head-label {
            margin: 0px;
        }

        .navigate.login::before {
            content: @fa-var-sign-in;
        }

        .select__wrapper.app-select {
            margin: 0;
            // text-transform: uppercase;
            font-weight: inherit !important;

            .select,
            &.active .select {
                border: 0px;
            }

            .select .head {
                padding-right: 0 !important;
            }

            &.active .select .tail {
                max-height: 75vh;
                width: 12em;
            }

            .select .selected:not(.none) {
                border: 0px;
                &:after {
                    display: none;
                }
            }

            .app-item {
                padding: 0.5em 0;
                justify-content: flex-start;
            }

            .app-item:hover:after {
                display: none;
            }

            .app-item {
                .app-picto::before {
                    .awsomefont();
                    content: @fa-var-check;
                    margin-right: @margin / 2;
                }
                &:hover .app-picto::before {
                    color: @activeColor;
                }
                &.view .app-picto::before {
                    content: @fa-var-map-o;
                }
                &.compose .app-picto::before {
                    content: @fa-var-pencil;
                }
                &.metadata .app-picto::before {
                    content: @fa-var-file-text-o;
                }
                &.alias .app-picto::before {
                    content: @fa-var-quote-right;
                }
                &.angled-project .app-picto::before {
                    content: @fa-var-table;
                }
                &.angled-query .app-picto::before {
                    content: @fa-var-search;
                }
                &.angled-universe .app-picto::before {
                    content: @fa-var-book;
                }
            }
        }
    }
}
