.footer {
    .flex(center, space-between, initial);
    padding: 0 @margin;
    font-size: 0.65rem;
    background: #fff;

    .credits {
        color: @greyMedium;

        a {
            color: @greyMedium;
            text-decoration: none;
            cursor: default;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}