// config + table + plot pages
.content {
    display: flex;
    overflow: hidden;

    .content__main {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .content__map {
            height: 30vh;
            flex-shrink: 0;
            position: relative;
            margin-bottom: @margin;

            .map-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }

    .content__side {
        width: @panel-rightW;
        flex-shrink: 0;
        margin-right: @margin / 2;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .map-info {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            &__items {
                padding-left: 35px;
                overflow: auto;
            }
        }
    }
}
