// LEGEND : DATA VIEW

.datas-wrapper {
    .box--harvest {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        position: sticky;
        bottom: 0;
        background-color: @bodyBgColor;

        > .btn {
            margin-bottom: @margin;
            display: inline-flex;
        }
    }
}

.layer-item {
    .word-wrap;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: @small-margin 0;

    .error {
        text-decoration: line-through;
        color: @inactiveColor;
    }

    .layer-actions {
        .awsomefont;
        .legendItemPosition;
        margin-top: @small-margin;

        > span {
            cursor: default;
            .interactive;
        }

        > *:hover {
            color: @activeColor;
        }

        &.bookmark {
            width: initial;
        }
    }

    .visible:before {
        content: @fa-var-eye;
    }

    .table:before {
        content: @fa-var-table;
    }

    .bookmark-edit:before {
        content: @fa-var-pencil;
    }

    .bookmark-pos:before {
        content: @fa-var-dot-circle-o;
    }

    .bookmark-remove:before {
        content: @fa-var-trash;
    }

    .not-visible {
        color: @inactiveColor;
        .interactive;

        &:before {
            content: @fa-var-eye-slash;
        }
    }

    .visible:before,
    .not-visible:before,
    .bookmark-pos:before,
    .bookmark-remove:before {
        padding-right: @small-margin * 2;
    }
}

.datas-download-wrapper {
    margin-top: @margin;

    .dl-item {
        .link;
        margin-left: @small-margin;
    }
}
