.sidebar-right {
    .word-wrap;
    padding: 0 @margin;
    overflow-y: auto;

    h2, h3 {
        width: 100%;
        margin: @margin 0;
    }

    .sidebar-header {
        .transitionSlow;
        margin-top: -2px;
        // margin-bottom: @margin;
        border-bottom: 1px solid #000;


        H1 {
            font-size: @gui-font-size * 1.5;
            letter-spacing: @gui-font-size * 0.01;
        }
        .map-date {
            display: flex;
            font-style: italic;
            font-size: @gui-font-size * 0.8;
            margin: @margin 0;
            margin-top: @margin / 2;
        }

        * {.transitionSlow;}

        &.legend-header-info {
            border-bottom: 1px solid transparent;

            H1 {
                font-weight: 700;
                font-size: 330%;
                line-height: 90%;
                letter-spacing: -1.5px;
                min-height: 1em;
            }
            .map-date {
            margin: @margin 0;
            }
        }
    }
}
