// TOOLS :  WIDGET on MAP FULL SCREEN
.tool-widget {
    .absolute (@margin, @margin, initial, initial);
    width: @panel-rightW;
    height: auto !important;
    padding: @small-margin;
    background: #fff;
    border: 1px solid @borderLightColor;

    > div {
        margin-bottom: @margin;

        &:last-child {
            margin: 0px;
        }
    }

    H2,
    H3 {
        margin-bottom: @margin;
    }
}

// TOOLS GENERAL

.tool .btn.label,
.tool .btn.label-and-icon {
    margin: @margin 0;
}

// TOOLS :  DATA

.datas-wrapper {
    details.metadata-block-meta {
        margin: @margin / 2 0;

        summary {
            padding: 0.2em;
        }

        &[open] {
            background-color: @bgLightColor;
        }
    }

    .metadata-block-body {
        padding: @margin / 2;
        padding-left: 1.2em;
        padding-top: 0;
    }

    .metadata-label {
        font-weight: @fwBold;
        margin-top: @margin / 2;
    }
}

// TOOLS :  PRINT

.tool.print {
    .print-block {
        margin-top: @margin;

        .print-format {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: @margin;

            > div {
                .transition;
                .shadow;
                display: flex;
                background: @white;
                border: 1px solid @borderLightColor;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 0.8rem;
                font-weight: 700;
                padding: @margin / 2;
                margin-right: @margin;

                &:hover {
                    cursor: default;
                    color: @activeColor;
                    border: 2px solid @activeColor;
                    -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
                    -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
                    box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
                }
            }
        }

        .portrait {
            width: 42px;
            height: 60px;
        }

        .landscape {
            width: 60px;
            height: 42px;
        }
    }

    .custom-title {
        input {
            width: 100%;
            box-sizing: border-box;
        }

        .btn {
            margin-top: @margin;
        }
    }
}

// TOOLS : WMS PICKER
.tool.wms-picker {
    .webservice {
        .base-layer {
            // font-size: 0.8em;
            display: flex;
            align-items: center;
            cursor: default;
            // height: 20px;
            margin-left: @margin;
            margin-bottom: @margin / 2;

            &:before {
                //refactor needed
                .awsomefont;
                margin: 0 @small-margin;
                font-size: 1em;
                content: @fa-var-circle-o;
            }

            &:hover:before,
            &.active:before {
                content: @fa-var-dot-circle-o;
            }

            &.active:before {
                color: @activeColor;
            }

            &:hover.active:before {
                content: @fa-var-circle-o;
            }
        }
    }
}

// TOOLS : LOCATION - TRACKER

.main.map-and-tracker {
    right: @margin;
    left: @margin;

    @media @sdi-small {
        right: initial;
        left: initial;
    }

    .tool.geocoder {
        display: none;
    }
}

// TOOLS : LOCATION
.tool.location {
    .point-location {
        .lat-lon-inputs {
            margin-top: @margin;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: calc(
                    ~'50% - @{margin} / 2 - @{small-margin} / 2 - 25px'
                );
                margin: 0;
            }
        }

        .cursor-location {
            margin-top: @margin;

            .lat-lon-label,
            .lat-lon-value {
                display: flex;
                justify-content: space-between;
                margin-bottom: @small-margin;

                > div {
                    width: calc(~'50% - @{margin}');
                }
            }
        }
    }
}

// TOOLS : MEASURE
.main.map-and-measure {
    right: @margin !important;
    left: @margin !important;

    .tool.geocoder {
        display: none;
    }
}

.tool.measure {
    .btn.btn-start {
        margin-bottom: 0;
    }
}

// TOOLS : SHARE
.tool.share,
.tool.embed {
    .helptext {
        margin-bottom: @margin;
    }

    .text-copy {
        margin: @small-margin 0 @margin 0;
        border: 1px solid @borderLightColor;
        padding: @small-margin;
        max-height: 4em;
        overflow-y: auto;
    }

    .text {
        font-size: @gui-font-size * 0.8;
        font-family: monospace;
        color: @inputPlaceholderColor;
    }

    .copy {
        .interactive;
        float: right;
        color: @activeColor;
        font-size: 0.9em;
        cursor: default;
        padding: 0 0 @small-margin @small-margin;

        .copied {
            color: transparent;
            position: absolute;
            display: block;
            margin-top: -40px;
            transition-duration: 3s;
            transition-delay: 0s;
            transition-timing-function: cubic-bezier(0, 2, 0.75, 1);
        }

        &:active .copied {
            color: @activeColor;
        }
    }
}
