.switcher {
    .awsomefont;
    .absolute(0px, @panel-rightW, initial, initial);
    z-index: 2;
    width: 20px;
    height: auto !important;
    background-color: @bodyBgColor;
    cursor: default;
    border: 1px solid @bodyBgColor;
    border-left-color: @borderLightColor;
    border-bottom-color: @borderLightColor;

    .switch-item {
        width: 100%;
        height: 1.5rem;

        .picto:before {
            .awsomefont;
            .transition;
            font-size: 12px;
            width: 25px;
            height: 20px;
            padding-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.active .picto:before,
        .picto:hover:before {
            color: @activeColor;
        }
    }

    .switch-info .picto:before {
        content: @fa-var-info;
    }

    .switch-legend .picto:before {
        content: @fa-var-list-ul;
    }

    .switch-data .picto:before {
        content: @fa-var-table;
    }

    .switch-base-map .picto:before {
        content: @fa-var-map-o;
    }

    .switch-print .picto:before {
        content: @fa-var-print;
    }

    .switch-share .picto:before {
        content: @fa-var-share-alt;
    }

    .switch-measure .picto:before {
        content: @fa-var-arrows-h;
    }

    .switch-locate .picto:before {
        content: @fa-var-crosshairs;
    }
}


@media @sdi-small {
    .switcher {
        right: 0px;
    }
}