.map-wrapper {
    &.print {
        .absolute(0, 0, 0, 0);
        width: 100px;
        height: 100px;
        z-index: 0;
    }

    // TOOLS : GEOCODER - ADRESS SEARCH

    .tool.geocoder {
        display: none; // TO BE FIXED
        .absolute(auto, auto, -1px, 0);
        background-color: @bodyBgColor;
        border: 1px solid @borderLightColor;
        border-left-color: @bodyBgColor;
        border-bottom-color: @bodyBgColor;
        font-size: 0.8rem;

        input {
            border: 0px;
            padding: 0px !important;
            padding-top: 2px !important;
            font-size: inherit;
        }

        .adress-result {
            display: flex;

            span {
                display: flex;
                align-items: center;
                cursor: default;
                height: 20px;
                padding-right: @margin;
            }

            span:before {
                .awsomefont;
                margin: 0 @small-margin;
                font-size: 1em;
                content: @fa-var-circle-o;
            }

            &:hover {
                span:before {
                    content: @fa-var-dot-circle-o;
                }
            }
        }
    }

    .map-marker {
        .awsomefont-burst;
        width: auto;
        height: auto;

        &:before {
            color: @activeColor;
            content: @fa-var-circle-o;
        }
    }
}
