input[type='email'],
input[type='password'],
input[type='search'],
input[type='url'],
input[type='text'],
input[type='number'],
textarea {
    font-family: @gui-font;
    border: 1px solid @inputBorderColor;
    // border-left: 0px;
    // border-right: 0px;
    font-size: 1em;
    padding: 0.3em;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;

    &::-webkit-input-placeholder {
        color: @inputPlaceholderColor;
    }
}
