.map-wrapper {
    background: url('../assets/imgs/map-trame.png') repeat;
    border-color: @borderLightColor;
    border-style: solid;
    overflow: hidden !important;

    .map {
        height: 100%;
        width: 100%;
        border-width: 1px;
        border-style: inherit;
        border-color: inherit;
    }

    .map-mode {
        .absolute(@small-margin, auto, auto, @small-margin);
        padding: @small-margin;
        min-width: 12px;
        min-height: 12px;
        background-color: @mapBgColor;
    }

    .control-box {
        .absolute(initial, 0, 0, initial);
        width: 20px;
        background: @bodyBgColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-color: @bodyBgColor;
        border-width: inherit;
        border-style: inherit;
        border-top-color: inherit;
        border-left-color: inherit;

        > div {
            position: relative;

            & button {
                .awsomefont;
                width: 25px;
                height: 25px;
                background-color: @bodyBgColor;
                border: 0px;
                font-size: 11px;

                &:before {
                    .awsomefont;
                }

                &:hover {
                    color: @activeColor;
                }

                &:focus {
                    outline: none;
                }
            }

            &:last-child {
                margin-bottom: @small-margin * 3;
            }
        }
    }

    .rotate {
        height: 25px;
        width: 25px;

        button .north-arrow {
            .absolute(0, 3px, 0, 3px);
            background-image: url('../assets/imgs/north-arrow.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .fullscreen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;

        button {
            padding: 0;

            // flex: 1;
            &.fullscreen-false:before {
                content: @fa-var-expand;
            }

            &.fullscreen-true:before {
                content: @fa-var-compress;
            }
        }
    }

    .credit {
        .absolute(initial, 0, 0, @small-margin) !important;
        font-size: 7pt;
        margin-bottom: 0px !important;
        width: calc(~'100% - @{small-margin}') !important;
        text-align: center;

        a {
            color: @greyDark;
            text-decoration: none;

            &:visited {
                color: @greyDark;
            }

            &:hover {
                color: @greyDark;
            }
        }
    }

    .map-scale {
        .absolute(initial, initial, 0, -1px);
        padding: @small-margin;
        padding-left: 0;
        padding-bottom: 0;
        background-color: @bodyBgColor;
        border-color: @bodyBgColor;
        border-width: 1px;
        border-style: inherit;
        border-top-color: inherit;
        border-right-color: inherit;
        display: flex;
        align-items: flex-end;

        .map-scale-label {
            font-size: 0.65rem;
            padding-right: @small-margin;
        }

        .map-scale-line {
            flex: 1;
            display: flex;
            align-items: flex-end;
            border: @borderDark;
            border-top: 0px;
            height: 6px;

            > div {
                // width: 50%;
            }

            .quarter {
                flex: 1;
                height: 33%;

                &:first-child {
                    border-right: @borderDark;
                }
            }

            .half {
                flex: 2;
                height: 66%;
                border-left: @borderDark;
            }
        }
    }

    .attribution {
        .absolute(initial, 20px, 1px, initial);
        opacity: 0.8;
        padding: 3px;
        background-color: @bodyBgColor;
        display: flex;
        align-items: flex-end;
        font-size: 0.65rem;

        .md {
            margin-left: @small-margin;
            p{
                margin: 0;
                padding: 0;
            }
        }

    }
}

// Hide map credit except in embed
.map .credit {
    display: none;
}

.embed .map .credit {
    display: block;
}
