/////// RADIOS BUTTONS

.radio {
    &__item {
        display: flex;
        align-items: center;
        .textRegular();
        cursor: default;
        min-height: 2em;
    }

    &__label {
        &::first-letter {
            text-transform: capitalize;
        }
    }

    &__bullet {
        flex-shrink: 0;
        position: relative;
        width: 1em;
        height: 1em;
        border-radius: 1em;
        margin-right: 1em;

        &::after {
            content: '';
            .absolute(1px, 1px, 1px, 1px);
            box-sizing: border-box;
            border: 3px solid #fff;
            border-radius: 1em;
        }
    }
}


.radio__item {
    .radio__bullet {
        background-color: #fff;
        border: 1px solid @activeColor;
    }

    &:hover .radio__bullet {
        background-color: @activeColorHover;
        border: 1px solid @activeColorHover;

    }

    &:active .radio__bullet {
        background-color: @activeColorPressed;
        border: 1px solid @activeColorPressed;

    }

    &.selected .radio__bullet {
        background-color: @activeColor;
        border: 1px solid @activeColor;

    }
}

.radio__item.disabled {
    color: @disabledColor;
    border: 1px solid @disabledColor;


    .radio__bullet {
        background-color: @disabledColor;
    }

    &:hover .radio__bullet {
        background-color: @disabledColor;
    }
}


// NOTES FOR ANIMATIONS
// button transition : 
// :active trigger event on click PRESS 
// transition trigger event on clic RELEASE