.boolean {
    display: flex;
    cursor: default;
    // margin-bottom: @margin / 2;

    > div {
        display: flex;
        align-items: baseline;
    }

    &--selected,
    &--unselected {
        color: @inactiveColor;
        &:hover {
            color: @activeColor;
        }
    }

    .switch-icon {
        .awsomefont();
        position: relative;
        margin: 0 0.5em;
        font-size: 1em;

        &--true {
            color: @activeColor;

            &:after {
                right: 0;
            }
        }
    }
}
