// // PROJECT SEARCH

// .root.project-app {

//     .project-list .wrapper .wrapper--left h1 {
//         .triangle(@cornerTopLeft, @greyLight);
//     }


// }

// // PROJECT  TIMELINE

// .root.project-app {


//     .timeline {
//         &__event--active .timeline__event-pointer {
//             .triangle(@cornerTopLeft, @activeColor);
//         }

//         &__event-pointer {
//             .triangle(@cornerTopLeft, @textColor);

//             &:hover:after {
//                 background-color: @textColor + 10%;
//             }
//         }
//     }
// }

// // NOTIFIER

// .subscription__wrapper {
//     margin-left: @margin;
//     color: @activeColor;

//     .subscription {
//         cursor: default;

//         &:before {
//             .awsomefont();
//             margin-right: 1ch;
//             color: @activeColor;
//         }

//         &--on:before {
//             content: @fa-var-check-square-o;
//         }

//         &--off:before {
//             content: @fa-var-square-o;
//         }

//     }
// }


// .notifier {
//     .awsomefont();
//     cursor: default;
// }

// .notif.read .notification {
//     font-size: 0.8rem;

//     &--ui {
//         font-weight: 700;
//     }

//     &--tag {
//         font-style: italic;
//     }

//     .btn {
//         margin-right: @margin;
//     }
// }